<html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 
    <body>
        <h1><%=genero.name%> </h1>
        <ul>
        <% if(peliculas.length>0){ %> 
        <% for(let i =0; i< peliculas.length; i++){ %> 
            <li><%=peliculas[i].title %></li>
        <% } } else {%> 
            <p>Este genero no tiene peliculas en la base de datos</p>
        <% } %> 
        </ul>
    </body>
</html>