<html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 
<body>
    <h1>Listado de peliculas</h1>
    <form action="/movies/search" method="post">
        <label for="busqueda">Buscar pelicula</label>
        <input type="text" name="busqueda" id="busqueda">
        <button type="submit">BUSCAR</button>
    </form>

<div>
    <a href="/movies/top">Peliculas top</a> 
</div>
<div>
    <a href="/movies/generos">Generos de peliculas</a>
</div>
    <ul>
        <% for (let i=0; i < peliculas.length; i++) { %>
            <li>
                <a href="/movies/<%= peliculas[i].id%> "><%= peliculas[i].title%></a>
            </li>
            <% } %>
    </ul>
</body>

</html>