<html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 

    <h1>Crear pelicula</h1>
    <form action="/movies/create" method="POST">
        <label for="title">Titulo:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="length">Duracion:</label>
        <input type="number" name="length" id="length"  required>
        <br>
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating"  required>
        <br>
        <label for="genre_id">Genero:</label>
        <select name="genre_id" id="genre_id">
            <% generos.forEach(genero => { %>
             <option value="<%=genero.id%>"><%= genero.name %> </option>
            <% }) %>
        </select>
        <br>
        <button type="submit">ENVIAR</button>
</html>