<html>

<body>
    <h1>Listado de peliculas Top ordenadas por rating</h1>
    <a href="/movies">Volver a peliculas</a>
    <ul>
        <% for (let i=0; i < peliculas.length; i++) { %>
            <li>
                <a href="/movies/<%= peliculas[i].id%> "><%= peliculas[i].title%></a>
            </li>
            <% } %>
    </ul>
</body>

</html>