<html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 

    <h1>Crear pelicula</h1>
    <form action="/movies/create" method="POST">
        <label for="title">Titulo:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="length">Duracion:</label>
        <input type="number" name="length" id="length"  required>
        <br>
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating"  required>
        <br>
        <button type="submit">ENVIAR</button>
</html>