<header class="header">
    <nav class="header-navbar">
        <a href="/users">USUARIOS</a>
        <a href="/products">PRODUCTOS</a>
        <a href="/movies"> PELICULAS (BASE DE DATOS)</a>
        <a href="/">HOME</a>
    </nav>
    <h2 class="titulo-header">Gonzi aprende</h2>
</header>